
<form *ngIf="false" [formGroup]="dashboardForm">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">From Date</label>
        <input type="text" formControlName="from_date" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">To Date</label>
        <input type="text" formControlName="to_date" class="form-control"
            id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Reason</label>
        <input type="text" formControlName="reason" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Status</label>
        <input type="text" formControlName="status" class="form-control" id="exampleInputPassword1">
    </div>
    <!-- <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Action</label>
        <input type="text" formControlName="action" class="form-control" id="exampleInputPassword1">
    </div> -->
    
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

<div class="container-fluid" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-3">
            <h5 style="color: brown;"><strong>Total Leave</strong></h5>
            <h1>{{totalLeave}}</h1> 
        </div>
        <div class="col-md-3">
            <h5 style="color:brown"><strong>Approve leave</strong></h5>
            <h1>{{approveLeave}}</h1> 
        </div>
        <div class="col-md-3">
            <h5 style="color:brown"><strong>Rejected leave</strong></h5>
            <h1>{{rejectedleave}}</h1> 
        </div>
        <div class="col-md-3">
            <h5 style="color:brown"><strong>Pending leave</strong></h5>
            <h1>{{pendingLeave}}</h1> 
        </div>
    </div>
</div>