a:link, a:visited {
    background-color:rgb(207, 154, 154);
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 10px;
  }
  
  a:hover, a:active {
    background-color: green;
    color: white;
  }

  .button{
      border-radius: 10px;
      background-color:brown;
      font-size: 20px;
      
  }